form{
    display: flex;
    row-gap: 10px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(28, 28, 28);
    padding: 1rem;
}

.inputBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    .field{
        border:1px solid white;
        padding:0.5rem 1rem;
        font-weight: 400;
        background-color: rgb(232, 232, 232);
    }
}

button{
    background: linear-gradient(90deg, rgba(147, 195, 243, 1) 0%, rgba(49, 97, 222, 1) 100%);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 1s;
    width: 50%;
    color: white;
}

textarea{
    resize: none;
    height: 200px;
}

