.whatsapp,.facebook{
    animation: oscillatory 1s;
    animation-iteration-count: infinite;
}
.facebook:hover,.whatsapp:hover{
    p{
        display: flex;
        animation:big 1s ;
    }
    animation: none;
}
@keyframes oscillatory{
    0%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(2px);
    }
}
@keyframes big {
    0%{
        font-size: 0;
    }
    100%{
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .facebook,.whatsapp{
        svg{
        }
    }
}