body{
    overflow-x:hidden ;
}
#header{
    user-select: none;
}
.nav-underline{
    position: relative;
}
.nav-underline{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.nav-underline::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: 10px;
    left: 0;
    transition: 0.7s;
}
.nav-underline:hover::before{
    width: 100%;
}
.language-select{
    li{
        display: flex;
        width:40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        align-items: center;
        color: black;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.4s ease;
        user-select: none;
        &:hover{
            background-color:rgb(147,197 ,253);
        }
    }
}
.icon{
    display: none;
}
.side{
    display: none;
}
@media(max-width:768px){
    nav{
        display: none !important;
    }
    .icon{
        display: flex !important;
    }
    .side{
        display:flex;
        flex-direction: column;
        position: absolute;
        background: black;
        height:100% ;
        width: 80%;
        top:5rem;
        left: 0;
        z-index: 4;
        animation: slide 1s ;
        overflow-y: hidden;
    }
    @keyframes slide {
        0%{
            left: -100%;
        }
        100%{
            left: 0%;
        }
    }
}


