.product{
    position: relative;

    width:244.91px;
    height: 272px;
    img{
        width: 150px;
        height: 200px;
    }
    p{
        z-index: 2;
    }
    border: 4px solid black;
    box-shadow: 1px 1px 8px rgba(0, 0, 0);
    transition: 1s;
}
.btn{
    background: linear-gradient(90deg, rgba(147, 195, 243, 1) 0%, rgba(49, 97, 222, 1) 100%);
}